<a href="https://colab.research.google.com/github/Shruthii10/supervised-ml/blob/main/GRIP_TASK_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

GRIP TASK 1
DONE BY: SHRUTHI ER
What will be predicted score if a student studies for 9.25 hrs/ day?

In [ ]:
import numpy as np 
import pandas as pd

dataset= pd.read_csv("/content/student_scores.csv")
print(dataset)

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

SPLITTING THE DATASET

In [ ]:
x=dataset.iloc[:, :-1].values
y=dataset.iloc[:, 1].values
print(x)
print(y)

[[2.5]
 [5.1]
 [3.2]
 [8.5]
 [3.5]
 [1.5]
 [9.2]
 [5.5]
 [8.3]
 [2.7]
 [7.7]
 [5.9]
 [4.5]
 [3.3]
 [1.1]
 [8.9]
 [2.5]
 [1.9]
 [6.1]
 [7.4]
 [2.7]
 [4.8]
 [3.8]
 [6.9]
 [7.8]]
[21 47 27 75 30 20 88 60 81 25 85 62 41 42 17 95 30 24 67 69 30 54 35 76
 86]

In [ ]:
import sklearn
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split(x,y,test_size=0.2,random_state=1)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

model.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

PREDICTION

In [ ]:
ypred= model.predict(xtest)

COMPARING THE VALUES

In [ ]:
data= pd.DataFrame({'Actual': ytest, 'Predicted': ypred})
data

   Actual  Predicted
0      17   9.970262
1      42  32.984700
2      24  18.339148
3      75  87.382463
4      54  48.676362

What will be predicted score if a student studies for 9.25 hrs/ day?

In [ ]:
hours = [[9.25]]
predictedvalue = model.predict(hours)
print("Number of hours = {}".format(hours))
print("Predicted Score = {}".format(predictedvalue[0]))

Number of hours = [[9.25]]
Predicted Score = 95.22829438402952